* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

#titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 25%;
}

#container1 h1 {
    font-weight: 700;
    font-size: 47px;
    color: #009688;
}

#container1 p {
    padding-top: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

/* Article */

.texto section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding: 10px 10%; */
    gap: 40px;
}

.texto p {
    width: 350px;
    padding-bottom: 20px;
}

.texto h3 {
    color: #FF4081;
    font-weight: 500;
    font-size: 30px;  
    padding: 20px 0;
}