* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.topo h1 {
    color: #FF4081;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 30px;
}

.topo {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 60px 60px;
    gap: 50px;
}

.containerCursos {
    background: #F7F7F7;
    padding: 10px 10%;
}

.meio {
    display: flex;
    padding: 80px 0; 
    flex-wrap: wrap;  
}

.meio h2 {
    flex-direction: column;
    color: #FF4081;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    padding: 30px 0 20px 40px;
    
}

hr {
    border: 1px solid #c4c4c4;
    background: #c4c4c4;
}

.meio p {
    padding: 0px 20px;
    font-weight: 200;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #000000;
}