* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

main {
    padding: 60px 10%;
}

h1 {
    color: #FF4081;
    line-height: 69px;
    font-size: 60px;
    font-weight: 700;
}

#inicio {
    padding-bottom: 95px; 
}

.card {
    display: flex;
    padding: 80px 0;
    border-bottom: 5px solid #c4c4c4;
}

#semBorda {
    border-bottom: none;
}

.container {
    display: flex;
    flex-direction: column;
}




