* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/* header */

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E948A;
    width: 100%;
}

header a img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.navheader ul {
    display: flex;  
    justify-content: end;
}

.navheader ul li {
    display: inline;
    padding: 12px;
    list-style: none;
}

.navheader ul li a {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
    text-decoration: none;
    
}

/* footer */
  
footer {
      padding: 35px 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #2E948A;
      width: 100%;
}

nav {
    padding: 2vh;
}

.navfooter ul li {
    list-style: none;
}

.navfooter ul li a {
      text-decoration: none;
      color: #FFF;
}

.btnfooter p  {
      background: #2E948A;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      width: 15rem;
      font-weight: 500;
      padding: 0.7rem;
      border-radius: 20px;
      text-align: center;
}

.btnfooter p:hover {
      cursor: pointer;
}

.btnfooter :nth-child(1) {
    margin-bottom: 10px;
}

.btnfooter {
    flex-direction: column;
}