* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.texto {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 15%;
    margin-bottom: 100px;
}

.texto h1 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #FF4081;
}

#titulo {
    background: #F7F7F7;
    color: #FF4081;
    font-weight: 500;
    font-size: 20px;
    line-height: 57px;
    text-align: center;

    padding: 20px 0;
}

#data {
    text-align: center;
    margin-bottom: 30px;
}

.texto h3 {
    color: #009688;
}

#cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #F7F7F7;
}

/* precisa ajustar */

#cursos h1 {
    display: flex;
    text-align: center;
    color: #FF4081;
}

#cursos div {
    display: flex;
    flex-direction: column;
}

.cardsCursos {
    display: flex;
    padding: 30px 0;
    text-align: center;
}

.cardsCursos div img {
    max-width: 250px;
    max-height: 250px;
}

.figuras {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    padding-top: 20px;
    gap: 10px;
}

.buttonCursos {
    color: #FFF;
    border: none;
    background: #FF4081;
    border-radius: 62px;
    width: 193px;
    height: 42.81px;
    margin: 0 auto;
}